<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <RoadsOfTheRim>边缘之路</RoadsOfTheRim>
  <RoadsOfTheRimAddConstructionSite>修建道路</RoadsOfTheRimAddConstructionSite>
  <RoadsOfTheRimAddConstructionSiteDescription>创建工地，进行道路施工</RoadsOfTheRimAddConstructionSiteDescription>
  <RoadsOfTheRimRemoveConstructionSite>取消修路</RoadsOfTheRimRemoveConstructionSite>
  <RoadsOfTheRimRemoveConstructionSiteDescription>移除工地，取消道路建设</RoadsOfTheRimRemoveConstructionSiteDescription>
  <RoadsOfTheRim_CantDestroyResourcesAlreadyConsumed>无法移除工地 : 资源已部分消耗</RoadsOfTheRim_CantDestroyResourcesAlreadyConsumed>
  <RoadsOfTheRimWorkOnSite>道路施工</RoadsOfTheRimWorkOnSite>
  <RoadsOfTheRimWorkOnSiteDescription>开始道路施工</RoadsOfTheRimWorkOnSiteDescription>
  <RoadsOfTheRimSettingsCategoryLabel>边缘之路</RoadsOfTheRimSettingsCategoryLabel>
  <RoadsOfTheRimSettingsBaseEffort>道路建筑施工基础倍率</RoadsOfTheRimSettingsBaseEffort>
  <RoadsOfTheRimSettingsOverrideCosts>覆盖标准移动速度倍率 (需要重启游戏)</RoadsOfTheRimSettingsOverrideCosts>
  <RoadsOfTheRimBuildConstructionSiteAlreadyHere>此处已有道路工地</RoadsOfTheRimBuildConstructionSiteAlreadyHere>
  <RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>此处没有道路工地</RoadsOfTheRimBuildConstructionSiteNotAlreadyHere>
  <RoadsOfTheRim_MustPickNeighbouringTile>必须选择相邻区域修建道路</RoadsOfTheRim_MustPickNeighbouringTile>
  <RoadsOfTheRim_SameRoadAlreadyExists>两地之间已有同等级道路了</RoadsOfTheRim_SameRoadAlreadyExists>
  <RoadsOfTheRim_BuildToHere>修建道路到此处</RoadsOfTheRim_BuildToHere>
  <RoadsOfTheRimWorkOnSite>施工</RoadsOfTheRimWorkOnSite>
  <RoadsOfTheRimWorkOnSiteDescription>在建筑工地施工</RoadsOfTheRimWorkOnSiteDescription>
  <RoadsOfTheRimStopWorkingOnSite>暂停施工</RoadsOfTheRimStopWorkingOnSite>
  <RoadsOfTheRimStopWorkingOnSiteDescription>停下修建道路的工作</RoadsOfTheRimStopWorkingOnSiteDescription>
  <RoadsOfTheRim_CaravanNoResource>{0} 已耗尽，无法建筑 {1}. 工作已停止.</RoadsOfTheRim_CaravanNoResource>
  <RoadsOfTheRim_RoadBuilt>道路修建完成</RoadsOfTheRim_RoadBuilt>
  <RoadsOfTheRim_RoadBuiltLetterText>{1}已修建完成{0}</RoadsOfTheRim_RoadBuiltLetterText>

</LanguageData>